@page
@model PublicCms.Web.Pages.Cms.Editor.Pages.SimplePage.CreateModel
@{
    ViewData["Title"] = "Skapa enkel sida";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Spara</button>

        </form>
    </div>
</div>