@page
@model PublicCms.Web.Pages.Cms.Editor.Parts.LinkPart.EditModel
@{
    ViewData["Title"] = $"Redigera länk i {Model.Zone}";
}
<h1>@ViewData["Title"]</h1>
<p>Om du ska ange en intern länk till den här webbplatsen, starta länkadressen med en /<br />Om det är en extern länk, starta länkadressen med https://</p>
<div class="row">
    <form method="post">
        <input type="hidden" asp-for="PageId" />
        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="EditIndex" />
        <input type="hidden" asp-for="Zone" />
        <div class="form-group">
            <label asp-for="Input.Url"></label>
            <input asp-for="Input.Url" />
        </div>
        <div class="form-group">
            <label asp-for="Input.Text"></label>
            <input asp-for="Input.Text" class="form-control" />
        </div>
        <div class="form-group">
            <input asp-for="Input.NewWindow" />
            <label asp-for="Input.NewWindow"></label>
        </div>
        <button class="btn btn-primary" type="submit">Spara</button>
    </form>
</div>