@using Microsoft.AspNetCore.Identity
@using PublicCms.Data
@inject SignInManager<AppUser> SignInManager
@{
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link " id="profile" asp-page="/cms/Index">Admin</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/cms/Content/Index">Hantera innehåll</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/cms/editor/navigation/Index">Hantera sajtnavigation</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/cms/globallayout">Hantera global sidlayout</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/cms/themes/Index">Välj tema</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/cms/settings">Sajtinställningar</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/cms/visitorstats/Index">Visa besökarstatistik</a></li>
    <li class="nav-item"><a class="nav-link" id="change-password" asp-page="./ChangePassword">Ändra lösenord</a></li>
    <form id="logoutForm" class="" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
        <button id="logout" type="submit" class="btn btn-danger">Logga ut</button>
    </form>
</ul>
