@page
@model PublicCms.Web.Pages.Cms.Editor.Parts.TextPart.EditModel
@{
    ViewData["Title"] = $"Redigera textblock i {Model.Zone}";
}
<div class="row">
    <form method="post">
        <input type="hidden" asp-for="PageId" />
        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="EditIndex" />
        <input type="hidden" asp-for="Zone" />
        <div class="form-group">
            <label asp-for="TextContent"></label>
            <textarea asp-for="TextContent" rows="4" cols="50" class="form-control"></textarea>
            <span asp-validation-for="TextContent" class="text-danger"></span>
        </div>


        <button class="btn btn-primary" type="submit">Spara</button>
    </form>
</div>