@page
@model PublicCms.Web.Pages.Cms.Editor.Parts.WYSIWYGPart.EditModel
@{
    ViewData["Title"] = $"Redigera innehåll i {Model.Zone}";
}
<div class="row">
    <form method="post">
        <input type="hidden" asp-for="PageId" />
        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" asp-for="EditIndex" />
        <input type="hidden" asp-for="Zone" />
        <div class="form-group">
            <label asp-for="TextContent"></label>
            <textarea asp-for="TextContent" class="form-control"></textarea>
            <span asp-validation-for="TextContent" class="text-danger"></span>
        </div>


        <button class="btn btn-primary" type="submit">Spara</button>
    </form>
</div>
@section Scripts {
    <script>
        <script src="/js/CKEditor/ckeditor.js"></script>
    <script>
        ClassicEditor
                .create(document.querySelector('#TextContent'), {

            toolbar: {
            items: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'link',
                            'bulletedList',
                            'numberedList',
                            '|',
                            'outdent',
                            'indent',
                            '|',
                            'imageUpload',
                            'blockQuote',
                            'insertTable',
                            'mediaEmbed',
                            'undo',
                            'redo',
                            'fontColor',
                            'fontFamily',
                            'fontSize',
                            'fontBackgroundColor',
                            'alignment',
                            'htmlEmbed',
                            'removeFormat',
                            'underline'
                        ]
                    },
                    language: 'sv',
                    licenseKey: '',



                })
                .catch(error => {
            console.error('Oops, something went wrong!');
                    console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                    console.warn('Build id: ycjvefti66pc-9v1a7ia8jh8');
                    console.error(error);
                });


    </script>
}