@page "{slug?}"
@using Extensions
@model IndexModel
@{
    ViewData["Title"] = Model.CurrentPage.Name;
    ViewData["SiteName"] = Model.CurrentSiteSettings.SiteName;
    ViewData["ThemeCss"] = Model.CurrentSiteSettings.ThemeCssFile;
    ViewData["ConsentText"] = !string.IsNullOrEmpty(Model.CurrentSiteSettings.ConsentText) ? Model.CurrentSiteSettings.ConsentText.Displayify() : null;
    ViewData["PrivacyPageUrl"] = Model.CurrentSiteSettings.PrivacyPageUrl;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <component type=Model.CurrentPage.DisplayComponent render-mode="Static" param-CurrentPageModel="Model.CurrentPage" />
</div>
