@page "{slug?}"
@using Extensions
@using PublicCms.Web.Models
@using PublicCms.Web.Models.PageParts
@model IndexModel
@{
    ViewData["Title"] = Model.CurrentPage.Name ?? "";
    ViewData["SiteName"] = Model.CurrentSiteSettings.SiteName ?? "";
    ViewData["ThemeCss"] = Model.CurrentSiteSettings.ThemeCssFile ?? "";
    ViewData["ConsentText"] = !string.IsNullOrEmpty(Model.CurrentSiteSettings.ConsentText) ? Model.CurrentSiteSettings.ConsentText.Displayify() : null;
    ViewData["PrivacyPageUrl"] = Model.CurrentSiteSettings.PrivacyPageUrl ?? "";
}
@if (Model.DocDbOk)
{
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @if (Model.CurrentPage is SimplePage)
    {
        SimplePage pg = (SimplePage)Model.CurrentPage;
        @foreach (var part in pg.Parts.OrderBy(o => o.DisplayOrder))
        {
            if (part is Models.PageParts.PluginPart)
            {
                var plugin = (Models.PageParts.PluginPart)part;
                var pluginType = LoadedPlugins.PluginTypes.Where(n => n.DisplayName == plugin.PluginName).FirstOrDefault();
                if (pluginType != null)
                {

                    <div class="pluginpart">
                        <component type=pluginType.ComponentType render-mode="Static" />
                    </div>
                }
            }
            else
            {

                <component type="typeof(Components.Part)" render-mode="Static" param-PartModel="part" />
            }
        }
    }

</div>
}
else { 
    <p class="text-danger">Dokumentdatabasen verkar inte fungera. Om du är sajtens ägare bör du kolla upp databasen och anslutningarna.</p>
}