/*Blått tema*/
body {
}

.navbar {
    background-color: blue !important;
}

.nav-item a {
    color: white !important;
}

.nav-item button {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}


h1, h2, h3, h4, h5, h6 {
    color: cornflowerblue;
    font-weight: bold !important;
}

.textblock {
    color: black;
    background-color: white
}

footer {
    background-color: blue !important;
}

    footer div {
        color: white !important;
    }
        footer div .textblock {
            color: white !important;
            background-color: blue;
        }

        footer div a {
            color: skyblue;
        }
