/*Orange tema*/
body {
}

.navbar {
    background-color: darkorange !important;
}

.nav-item a {
    color: white !important;
}

.nav-item button {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}


h1, h2, h3, h4, h5, h6 {
    color: orangered;
    font-weight: bold !important;
}

.textblock {
    color: darkorange;
    background-color: white
}

footer {
    background-color: orangered !important;
}

    footer div {
        color: white !important;
    }

        footer div a {
            color: orange;
        }
